body{
    position: relative;
}
.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
   background-color: rgba(0,0,0,0.9);
    z-index: 20;
    top: 0;
  display: none;
}

.content-movie{
    height: 90vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
   
}
.modal-video{
    width: 50%;
   
    object-fit: cover;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.cerrar-modal{
    height: 10vh;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 20px;
   cursor: pointer;
}
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}